body {
  font-family: sans-serif;
}

.App {
  width: 400px;
  height: 600px;
  position: relative;
  background: #9c4e4e;
  display: inline-block;
  border: 1px solid rgb(154, 40, 40);
}

.list-wrapper {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  position: absolute;
  box-sizing: border-box;
}

.list {
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(239, 30, 30);
}
